<!-- Default Statcounter code for andrewreeves.org
http://www.andrewreeves.org -->
<script type="text/javascript">
var sc_project=8104429;
var sc_invisible=1;
var sc_security="83ac1fb8";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - StatCounter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/8104429/0/83ac1fb8/1/"
alt="Web Analytics Made Easy -
StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
